*
!Dockerfile.local
!backend/
backend/*
!backend/target/
backend/target/*
!backend/target/antflow-backend-0.1.0-SNAPSHOT.jar
!frontend/
frontend/*
!frontend/dist/
!frontend/dist/**
!mobile/
mobile/*
!mobile/dist/
!mobile/dist/**
!infra/
infra/*
!infra/docker/
infra/docker/*
!infra/docker/nginx.conf
