.form-select-option-label {
  display: inline-flex;
  align-items: center;
  min-width: 0;
  gap: 7px;
}

.form-select-option-label__color {
  display: inline-block;
  flex: 0 0 auto;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
